.progress-timer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progress {
  position: relative;
  height: 50px;
}

.buttons-wrapper {
  position: absolute;
  right: 0;
}

.progress .buttons-wrapper {
  opacity: 0;
  transition: opacity 0.1s;
}

.progress:hover .buttons-wrapper {
  opacity: 1;
}
