<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="progress">
          <span class="progress-timer fs-3"
            ><b>{{ timeLeft() }}</b></span
          >
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            [style]="{ width: timerProgress() + '%' }"
          ></div>
          <div class="buttons-wrapper d-flex align-items-center h-100">
            <button
              class="col"
              mat-icon-button
              (click)="startTimer()"
              *ngIf="!isStarted()"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button
              class="col"
              mat-icon-button
              (click)="stopTimer()"
              *ngIf="isStarted()"
            >
              <mat-icon>pause</mat-icon>
            </button>
            <button mat-icon-button (click)="reset()">
              <mat-icon>replay</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 justify-content-md-center">
      <app-daily-counter
        class="col-md-auto"
        [counter]="counter"
      ></app-daily-counter>
    </div>

    <audio #ring src="/assets/sounds/ring.mp3"></audio>
  </div>
</div>
